$light: #fff;
$primary-color: #635cdb;
$secondary-color: #f4f4f4;
$black: #000;
$black-light: #232323;
$black-lighter: #646464;
$border-color: #eee;
$primary-font: 'Rubik', arial, sans-serif;
$secondary-font: 'Rubik', arial, sans-serif;
